@model VotingApp.Models.IndexAreaModel

@{
    ViewData["Title"] = "Areas";
}







<div class="card rounded shadow border-0">
    <div class="card-header">
        <div class="text-center">
            <h1>
                @ViewData["Title"]
                <a href="#!" class="btn-add-new btn btn-link btn-icon float-right text-white"><i class="fa fa-plus"></i></a>
            </h1>

            <p class="font-italic mb-0">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>


        </div>
    </div>

    
    <div class="card-body p-5 rounded">

        <div class="row">
            <div class="col" id="municipality-container">
                <div class="table-responsive">

                    <table class="table" id="table-municipalities">
                        <thead>
                            <tr>
                                <th>Municipality</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Municipalities)
                            {
                                <tr>
                                    <td>
                                        <a href="#!" class="btn-view-post-admin" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col hide" id="municipality-child-area-container">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-areas-admin-post">
                        <thead>
                            <tr>
                                <th>Administrative Post</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col hide" id="admin-post-child-area-container">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-areas-village">
                        <thead>
                            <tr>
                                <th>Village/Suco</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-view" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <ul class="list-group" id="list-of-area"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $(".btn-add-new").on("click", function () {
                $.notify({
                    icon: "tim-icons icon-bell-55",
                    message: "Upsss. Add new Area is disabled!"
                });
            })

            $("body").on("click", ".btn-view-post-admin", function () {
                let id = $(this).data("id");
                $("#admin-post-child-area-container").addClass("hide");
                $.ajax({
                    url: "/Areas/GetArea?level=" + 3 + "&parentId=" + id,
                    type: "get",
                    success: function (response) {
                        console.log(response);

                        $("#municipality-child-area-container").removeClass("hide");

                        var tbody = "";
                        $.each(response.data, function (i, v) {
                            tbody += "<tr>";
                            tbody += "<td><a href='#!' data-id='" + v.id + "' data-title='" + v.name + "' class='btn-view-village'>" + v.name + "</a></td>";
                            tbody += "</tr>";
                        });


                        $("#table-areas-admin-post tbody").html(tbody);
                    }
                })
            })

            $("body").on("click", ".btn-view-village", function () {
                let id = $(this).data("id");
                let title = $(this).data("title");
                $.ajax({
                    url: "/Areas/GetArea?level=" + 4 + "&parentId=" + id,
                    type: "get",
                    success: function (response) {

                        $("#admin-post-child-area-container").removeClass("hide");

                        var tbody = "";
                        $.each(response.data, function (i, v) {
                            tbody += "<tr>";
                            tbody += "<td>" + v.name + "</td>";
                            tbody += "</tr>";
                        });


                        $("#table-areas-village tbody").html(tbody);
                    }
                })
            })

            $("#table-municipalities").DataTable();
        });
    </script>
}